
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_spaced">
            <h2 class="oe_slogan">Stock Take Report Backdating</h2>
			 <p class="oe_spaced oe_mt32">
	This module introduces a new xls report printing feature under Inventory Reporting - "Stock Take by Date".  
			 </p>
     	
     <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image1.png">
            </div>
        </div>
	    <div class="oe_span4">
            <p class="oe_mt32">
			The action will pop up a wizard in which user can input any date from past.
     		</p>
        </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span4">
            <p class="oe_mt32">
			Print action will generate the xls report and the user can click and download it
     		</p>
        </div>
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image2.png">
            </div>
        </div>
    </div>
</section>



<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image3.png">
            </div>
        </div>
        
        <div class="oe_span4">
            <p class="oe_mt32">
				The report will calculate quantity on hand of the products based on the user input date and dates in stock moves.		</p>
        </div>
        <div class="oe_span12">
        <p class='oe_mt32 oe_spaced'>
   <p></p> For any assistance please feel free to contact us: contact@broadtech-innovations.com
     </p>
        </div>
    </div>
</section>



